<div class="text-center">
    <h1 class="display-4">Soy Manuel Cabassa</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y Javascript</a>.</h2>

    <img id="Foto" src="~/imagenes/avatar.png" alt="foto de avatar" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="Logo" />
</div>


<div class="row justify-content-center text-center bg-primary ">
    <div class="col col-md-7 seccion-bienvenida">
        <h3>Te doy la bienvenida a mi portafolio</h3>
        <p>
            He estado desarrollando software profesionalmente desde el 2022. He tenido el privilegio de realizar proyectos para la Universidad Ana G Mendez que es donde actualmente me encuentro trabajando. Las aplicaciones trabajadas en esta compañia mayormente estan hechas en C#/ASP.NET, Webforms, Oracle, SQL Server, JavaScript.
        </p>
    </div>
</div>
