@model IEnumerable<ProyectoViewModel>

@if (Model is not null)
{
    <div class="text-center mt-5">
        <h1>Mis trabajos mas recientes</h1>
        <p>Aquí puedes ver algunos de mis trabajos mas recientes.</p>
    </div>

    <partial name="_ListadoProyectos" model="Model"/>
}
