@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te contestaré el mensaje lo mas rapido posible.</p>
<div>
    <a asp-controller="Home" asp-action="Index">Volver a Home</a>
</div>